<div class="vertical-launcher">

<%= link_to "Projects", "#", class: "vertical-launch" %>
<%= link_to "Software", "#", class: "vertical-launch" %>
<%= link_to "Datasets", "#", class: "vertical-launch" %>
<%= link_to "Anayses", "#", class: "vertical-launch" %>





</div>