
<a href="<%= assignment_path(assignment.id) %>" 
  data-assignment-id="<%= assignment.id %>" class="assignment index-entry">

  <span class="name"><%= assignment.name %></span>
  <span class="summary"><%= assignment.summary %></span>
  
</a>