<div data-assignment-id="<%= assignment.id %>" class="assignment vertical-result-data">

  <span class="name"><%= link_to assignment.name, assignment_path(assignment) %></span>
  <span class="snippet"><%= assignment.summary %></span>
  <span class="score">Score: <%= score %></span>

</div>