<% provide(:title, "Assignments") %>
<div class="container">

  <h1>Assignment</h1>

  <button class="btn btn-sm btn-default"><%= link_to "Add an assignment", new_assignment_path %></button>

  <div id="assignment-entries">
    <%= render @assignments %>
  </div>

</div>
