
<a href="<%= dataset_path(dataset.id) %>" 
  data-dataset-id="<%= dataset.id %>" class="dataset index-entry">

  <span class="name"><%= dataset.name %></span>
  <span class="summary"><%= dataset.summary %></span>
  
</a>