<div data-dataset-id="<%= dataset.id %>" class="dataset index-entry">

  <div class="connect-resource">
    <%= form_for(dataset, 
        url: vertical_vertical_path(@vertical, dataset), 
        method: :post, html: {style: 'display: inline'}) do |f| %>
      <% if (@vertical.class == Dataset and 
              @vertical.datasets_related_to.exists?(dataset.id)) or
            (@vertical.class != Dataset and 
              @vertical.datasets.exists?(dataset.id)) %>
        <button class="btn btn-sm btn-default" disabled="disabled">Already added</button>
      <% else %>
        <button class="btn btn-sm btn-default">Add</button>
      <% end %>
    <% end %>
  </div>

  <span class="entry-data-wrapper">
    <span class="name"><%= dataset.name %></span>
    <span class="snippet"><%= dataset.summary %></span>
  </span>
</div>