<div data-dataset-id="<%= dataset.id %>" class="dataset vertical-result-data">

  <span class="name"><%= link_to dataset.name, dataset_path(dataset) %></span>
  <span class="snippet"><%= dataset.summary %></span>
  <span class="score">Score: <%= score %></span>

</div>