<% provide(:title, "Datasets") %>
<div class="container vertical-index dataset-index">

  <h1>Datasets

  <% if can_edit? %>
    <%= link_to(new_dataset_path) do 
      %><button class="btn btn-lg btn-link" data-toggle="tooltip" title="New Dataset">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>
    <% end %>
  <% end %>
  </h1>
  <div id="dataset-entries" class="entries">
    <% 
    @i = 0 
    @total = @datasets.size
    %>
    <%= render @datasets %>
  </div>

</div>
