<% provide(:title, "Datasets") %>
<div class="container">

  <h1>Dataset</h1>

  <% if can_edit? %>
    <%= link_to(new_dataset_path) do 
      %><button class="btn btn-sm btn-default">Add a dataset</button
    ><% end %>
  <% end %>

  <div id="dataset-entries" class="entries">
    <%= render @datasets %>
  </div>

</div>
