<% provide(:title, "Datasets") %>
<div class="container">

  <h1>Dataset</h1>
  <button class="btn btn-sm btn-default"><%= link_to "Add a dataset", new_dataset_path %></button>

  <div id="dataset-entries">
    <%= render @datasets %>
  </div>

</div>
