<%# 
Adds a button to trigger the stub user form modal to appear.
%>

<button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target=".new-user-stub-modal">Add stub user account</button>