<%# 
This is expecting the following local variables:

  vertical_from -- the vertical or example the attachment will be associated 
                   with.
%>

<div class="attachment-form-wrapper">
  <%= form_for Attachment.new, url: vertical_attachments_path(vertical), 
        html: { multipart: true } do |form| %>
    <%= form.file_field :file_attachment %>
  <% end %>
</div>