
<a href="<%= analysis_path(analysis.id) %>" 
  data-analysis-id="<%= analysis.id %>" class="analysis index-entry">

  <span class="name"><%= analysis.name %></span>
  <span class="summary"><%= analysis.summary %></span>
  
</a>