<% provide(:title, "Analyses") %>
<div class="container">

  <h1>Analysis</h1>

  <button class="btn btn-sm btn-default"><%= link_to "Add an analysis", new_analysis_path %></button>

  <div id="analysis-entries">
    <%= render @analyses %>
  </div>

</div>
