<% provide(:title, "Analyses") %>
<div class="container">

  <h1>Analysis</h1>

  <% if can_edit? %>
    <%= link_to(new_analysis_path) do 
      %><button class="btn btn-sm btn-default">Add an analysis</button
    ><% end %>
  <% end %>

  <div id="analysis-entries" class="entries">
    <%= render @analyses %>
  </div>

</div>
