<% provide(:title, "Analyses") %>
<div class="container">

  <h1>Analyses

  <% if can_edit? %>
    <%= link_to(new_analysis_path) do 
      %>
	  <button class="btn btn-sm btn-link" data-toggle="tooltip" title="New Analysis">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>
    <% end %>
  <% end %>
  </h1>
  <div id="analysis-entries" class="entries">
    <%= render @analyses %>
  </div>

</div>
