<div data-software-id="<%= software.id %>" class="software index-entry">

  <span class="name"><%= link_to software.name, software_path(software.id) %></span>
  <span class="summary"><%= software.summary %></span>
  
</div>