<div data-software-id="<%= software.id %>" class="software vertical-result-data">

  <span class="name"><%= link_to software.name, software_path(software) %></span>
  <span class="snippet"><%= software.summary %></span>
  <span class="score">Score: <%= score %></span>

</div>