
<a href="<%= software_path(software.id) %>" 
  data-software-id="<%= software.id %>" class="software index-entry">

  <span class="name"><%= software.name %></span>
  <span class="summary"><%= software.summary %></span>
  
</a>