<% provide(:title, "Software") %>
<div class="container">

  <h1>Software</h1>
  <button class="btn btn-sm btn-default"><%= link_to "Add a software", new_software_path %></button>

  <div id="software-entries">
    <%= render @software %>
  </div>

</div>
