<% provide(:title, "Software") %>
<div class="container">

  <h1>Software</h1>

  <% if can_edit? %>
    <%= link_to(new_software_path) do 
      %><button class="btn btn-sm btn-default">Add software</button
    ><% end %>
  <% end %>

  <div id="software-entries" class="entries">
    <%= render @software %>
  </div>

</div>
