<div <%= "id=#{id}" if defined? id %> class="resource-form">
  <% unless tag.id.nil? %>
    <input type="hidden" name="id" value="<%= tag.id %>"/>
  <% end %>

  <!-- Tag text. -->
  <div class="form-group" style="width: 100%">
    <div class="input-group">
      <input type="text" class="form-control ignore unchanged" name="text"
        placeholder="e.g., social network" value="<%= tag.text %>"/>
      <span class="input-group-btn">
        <button class="btn btn-danger remove">Remove</button>
      </span>
    </div>
  </div>
</div>