<% provide(:title, "Choose tag") %>
<div class="container resource-modification">
  <h1><%= yield :title %></h1>
  <p>
  Choose a tag to associated with 
  <%= link_to @vertical.name, get_vertical_path(@vertical) %>.
  </p>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <% if @tags.empty? %>
        No tags exist yet!
      <% else %>
        <h2>Tags</h2>
        <div class="connection-index">
          <%= render partial: 'tag_index_item', 
            collection: @tags, as: :tag %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
