<% provide(:title, "Assignments") %>
<div class="container">

  <h1>Assignments

  <% if can_edit? %>
    <%= link_to(new_assignment_group_path) do 
      %>
	  <button class="btn btn-sm btn-link" data-toggle="tooltip" title="New Assignment Group">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>
    <% end %>
  <% end %>
  </h1>
  <div id="assignment-group-entries" class="entries">
    <% @i = 0 %>
    <%= render @assignment_groups %>
  </div>

</div>
