<%# 
This is expecting the following local variables:

  example -- The example to display.
  vertical -- (optional) The vertical whose page this example is being displayed
              on; this is necessary in order for the edit button to be added.
  can_edit -- Whether the edit buttons should be displayed; vertical must also
              be supplied.
%>

<li class="vertical-li">
  <% if can_edit? and defined? vertical %>
    <span class="edit-toggle">
     
	  <%= form_for(example, method: :delete,
          url: vertical_example_path(vertical, example), 
          html: {class: "inline"}) do |f| %>
        <button type="submit" class="btn btn-link btn-sm" data-toggle="tooltip" title="Disassociate">
          <span class="glyphicon glyphicon-remove x-btn" aria-hidden="true"></span> 
        </button>
      <% end %>
    </span>
  <% end %>
  <span class="example-title"
    ><%= link_to example.title, example_path(example) %></span> 
  
  
</li>