<% provide(:title, "How-tos") %>
<div class="container vertical-index example-index">
  <h1>How-tos

  <% if can_edit? %>
    <%= link_to(new_example_path) do 
      %><button class="btn btn-sm btn-link" data-toggle="tooltip" title="New How-to">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>
	  <% end %>
  <% end %>
  </h1>
  
  <div id="example-entries" class="entries">
    <% 
    @i = 0 
    @total = @examples.size
    %>
    <%= render @examples %>
  </div>

  
</div>
