<% provide(:title, "Examples") %>
<div class="container">
  <h1>Examples</h1>

  <% if can_edit? %>
    <%= link_to(new_software_path) do 
      %><button class="btn btn-sm btn-default">Add Example</button
    ><% end %>
  <% end %>
  
  <div id="example-entries" class="entries">
    <%= render @examples %>
  </div>

  
</div>
