<%#
Generates the HTML for a show view.
Expects at least: 

  vertical -- Anything with a thubmnail field.
%>

<% if vertical.thumbnail? %>
  <div class="thumbnail-wrapper show-view" 
      style="background-image: url('<%= vertical.thumbnail.tile.url %>')">
  </div>  
<% end %>