<li class="vertical-li">
    <% if can_edit? and editable and defined? vertical_from %>
	<span class="edit-toggle">
	  <%= form_for(vertical_to, method: :delete,
          url: vertical_vertical_path(vertical_from, vertical_to), 
          html: {class: "inline"}) do |f| %>
        <button type="submit" class="btn btn-link btn-sm" data-toggle="tooltip" title="Disassociate">
          <span class="glyphicon glyphicon-remove x-btn" aria-hidden="true"></span> 
        </button>
      <% end %>
    </span>
  <% end %>
  <span class="vertical-name"
    ><%= link_to vertical_to.name, get_vertical_path(vertical_to) %></span> 
  <span class="snippet">
    &ndash; <%= get_snippet(vertical_to.summary, 200)%>
  </span>
  
</li>