<h1>About Alice</h1>
<p>Alice is a database of tools (and other things) for the digital liberal arts.</p>
<h2>Purpose</h2>
<p>The goal of the Alice database is to provide a system for curating information regarding tools and their application in the digital liberal arts. It allows the tracking of the following verticals:

analyses/methods (e.g., network diagramming)
software tools (e.g., NodeXL)
datasets (e.g., a set of labeled Tweets)
projects (e.g., performing network analysis using NodeXL over labeled Tweets)
Storing this data is only part of Alice's goal. The mission critical functionality includes:

easily searchable, including advanced search operations
easily browsable for casual discovery
With these verticals and information discovery goals met, users can find and share tools, methods, datasets, and examples of how to use them. </p>

<h2>Contributers</h2>
<p>
    <ul>
        <li>Henry Feild</li>
        <li>Ross Theroux</li>
        <li>Makennah Henry</li>
        <li>Jamyang Tamang</li>
    <ul>
<p>