@import "bootstrap-sprockets";
@import "bootstrap";

.instructions {
  font-size: 140%
}

.main-view-container {
  padding-right: 5em;
  padding-left: 5em;
}

.inline {
  display: inline-block;
}

/* Forms */
.required-input {
  color: $brand-danger;
  font-weight: bold;
}

.form-container {
  margin-top: 2em;
  margin-bottom: 3em;
}

iframe.embed-html {
  border: 1px dashed #bbb;
  display: block;
  width: 100%;
  height: 100%;
}

h2 {
  color: steelblue;
  font-size: 170%
}

h3 {
  color: #555;
  font-size: 140%;
}
