@import "bootstrap-sprockets";
@import "bootstrap";

.instructions {
  font-size: 140%
}

.main-view-container {
  padding-right: 5em;
  padding-left: 5em;
}

/* Forms */
.required-input {
  color: $brand-danger;
  font-weight: bold;
}

.form-container {
  margin-top: 2em;
  margin-bottom: 3em;
}

.vertical-launcher {
    width: 100%;
    text-align: center;    
    
}

.vertical-launch:link {
    display: inline-block;
    width: 10em;
    padding-top: 3em;
    padding-bottom: 3em;
    color: DimGrey;
    background-color: WhiteSmoke;
    text-align: center;
    margin: 1em;
    font-size: 125%;
    border: 1px solid lightGrey;
    text-decoration: none;
}

.vertical-launch:visited {
    text-decoration: none;
    color: DarkBlue;
    border: 5px solid LightGrey;
}

.vertical-launch:hover, .vertical-launch:active{
    text-decoration: none;
    background-color: LightGray;
}