/**
 * Consists of styles for the footer that appears at the bottom of every page.
 *
 * Created by hfeild on 08-Apr-2017.
 */

.footer {
/*
  background-color: #f8f8f8;
  padding: 30px 20px 30px 20px;
*/
  margin-bottom: 0px
}