/**
 * Consists of styles for the header that appears above every page.
 *
 * Created by hfeild on 06-Apr-2017.
 */

#header {
  text-align: center;
  background-color: aliceblue;
}

.version {
  font-size: 60%;
}

#verticals-nav {
  display: inline-block;

  a {
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    margin: 0 15px 0 15px;
    background-color: white;
  }

  .selected-vertical > a{
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    margin: 0 15px 0 15px;
    color: white;
    background-color: #A288E3 !important;
  }

  a:hover{
    background-color: grey;
    color:white;
    font-style: italic;
  }

  ul {
    vertical-align: top;
    display: inline-block;
  }
}
