/**
 * Consists of styles for the resources (examples, tags, and web_resources).
 *
 * Created by hfeild on 30-May-2017.
 */

/* See vertical.css.scss for general .index-entry info. */

$connect_button_width: 7em;

.connection-index .index-entry {
  padding: 0px;
  vertical-align: middle;
  position: relative;

  .connect-resource {
    display: inline-block;
    position: absolute;
    bottom: 0;
    top: 0;
    width: $connect_button_width;

    button {
      width: 100%;
      height:100%;
      border: 0;
      border-right: 1px solid gray;
    }
  }

  .entry-data-wrapper {
    &:hover, &:active {
      text-decoration: none;
    }
    width: 100%;
    padding: 1em .5em 1em $connect_button_width+.5;
    height: 100%;
    display: inline-block;
  }
}

li.resource {
  margin-top: .5em;
}


.tag.index-entry {
  min-height: 0 !important;
  width: 100%;
  margin-bottom: .5em !important;
  padding: 0 !important;

  .entry-data-wrapper {
    padding: .2em .5em .2em $connect_button_width+.2 !important;
    font-size: 110%;

    .text {
      display: inline-block;
    }
    .count {
      color: #888;
    }
  }
}