/**
 * Consists of styles for the resources (examples, tags, and web_resources).
 *
 * Created by hfeild on 30-May-2017.
 */

/* See vertical.css.scss for general .index-entry info. */
.connection-index .index-entry {
  padding: 0px;
  vertical-align: middle;
  position: relative;
  $connect_button_width: 7em;

  .connect-resource {
    display: inline-block;
    position: absolute;
    bottom: 0;
    top: 0;
    width: $connect_button_width;

    button {
      width: 100%;
      height:100%;
      border: 0;
      border-right: 1px solid gray;
    }
  }

  .entry-data-wrapper {
    &:hover, &:active {
      text-decoration: none;
    }
    width: 100%;
    padding: 1em .5em 1em $connect_button_width+.5;
    height: 100%;
    display: inline-block;
  }
}

li.resource {
  margin-top: .5em;
}