/**
 * Consists of general styles for the verticals (software, datasets, analyses,
 * and projects).
 *
 * Created by hfeild on 06-Apr-2017.
 */

.index-entry {

  .name {
    font-size: 150%;
    font-weight: bold;
    display: block;
  }

}