<div data-web_resource-id="<%= web_resource.id %>" class="web_resource index-entry">

  <div class="connect-resource">
    <%= form_for(web_resource, 
        url: vertical_web_resource_path(@vertical, web_resource), 
        method: :post, html: {style: 'display: inline'}) do |f| %>
      <% if @vertical.web_resources.exists?(web_resource.id) %>
        <button class="btn btn-sm btn-default" disabled="disabled">Already added</button>
      <% else %>
        <button class="btn btn-sm btn-default">Add</button>
      <% end %>
    <% end %>
  </div>

  <span class="entry-data-wrapper">
    <span class="name"><%= 
      link_to web_resource.description, web_resource_path(web_resource) %></span>
    <span class="snippet"><%= link_to web_resource.url, web_resource.url %></span>
  </span>
</div>